{% load static %}

<div class="process-bottom-area">
  <div class="row">
  <div class="col-lg-11 wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
  <div class="process-bottom-title">
  <h2>Culture has been in our focus since day
  one. It is <span>one of the key elements</span> in our
  agency, and makes us stronger as a team.</h2>
  </div>
  </div>
  </div>
  <div class="row justify-content-end">
  <div class="col-lg-8 wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
  <div class="process-bottom-content-and-img">
  <p>Where innovation meets passion in a journey that started with a simple idea and a shared dora Founded in recent year we embarked on a mission told bring the new innovation and introduct the technology. From humble beginnings to our current aspirations.</p>
  <img src="{% static 'assets/img/home4/process-bottom-img.jpg' %}" alt="">
  </div>
  </div>
  </div>
  </div>