<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/jquery-ui.css" rel="stylesheet">

<link href="assets/css/bootstrap-icons.css" rel="stylesheet">

<link href="assets/css/animate.min.css" rel="stylesheet">

<link href="assets/css/jquery.fancybox.min.css" rel="stylesheet">

<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

<link rel="stylesheet" href="assets/css/slick.css">
<link rel="stylesheet" href="assets/css/slick-theme.css">

<link href="assets/css/boxicons.min.css" rel="stylesheet">

<link rel="stylesheet" href="assets/css/style.css">

<title>Zenfy - Software, SaaS & Digital Agency Template</title>
<link rel="icon" href="assets/img/sm-logo.svg" type="image/gif" sizes="20x20">
</head>